.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/images.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 519px}
.u-section-1 .u-text-1 {margin: 60px 95px 0}
.u-section-1 .u-text-2 {margin: 30px 382px 0}
.u-section-1 .u-text-3 {margin: -29px 512px 0 623px}
.u-section-1 .u-text-4 {margin: 12px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 428px}
.u-section-1 .u-text-1 {margin-left: 78px; margin-right: 78px}
.u-section-1 .u-text-2 {margin-left: 282px; margin-right: 282px}
.u-section-1 .u-text-3 {margin-right: 422px; margin-left: 514px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 328px}
.u-section-1 .u-text-1 {margin-left: 60px; margin-right: 60px}
.u-section-1 .u-text-2 {margin-left: 172px; margin-right: 172px}
.u-section-1 .u-text-3 {margin-right: 323px; margin-left: 394px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 246px}
.u-section-1 .u-text-1 {margin-left: 45px; margin-right: 45px}
.u-section-1 .u-text-2 {margin-left: 82px; margin-right: 82px}
.u-section-1 .u-text-3 {margin-right: 242px; margin-left: 296px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 155px}
.u-section-1 .u-text-1 {margin-left: 28px; margin-right: 28px}
.u-section-1 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-1 .u-text-3 {margin-right: 152px; margin-left: 186px} }.u-section-2 .u-sheet-1 {min-height: 349px}
.u-section-2 .u-text-1 {width: 680px; margin: 73px auto 0}
.u-section-2 .u-text-2 {width: 340px; margin: 0 auto}
.u-section-2 .u-text-3 {margin: 19px auto 0}
.u-section-2 .u-btn-1 {margin: 41px auto 0 369px}
.u-section-2 .u-btn-2 {margin: -47px auto 60px 593px} 

@media (max-width: 1199px){ .u-section-2 .u-text-2 {width: 680px}
.u-section-2 .u-btn-1 {margin-left: 169px}
.u-section-2 .u-btn-2 {margin-left: 393px} }

@media (max-width: 991px){ .u-section-2 .u-btn-1 {margin-left: 0}
.u-section-2 .u-btn-2 {margin-left: 173px} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {width: 540px}
.u-section-2 .u-text-2 {width: 540px}
.u-section-2 .u-btn-2 {margin-left: 0} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {width: 340px}
.u-section-2 .u-text-2 {width: 340px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 541px}
.u-section-3 .u-layout-wrap-1 {pointer-events: auto; margin: 60px auto 60px 0}
.u-section-3 .u-layout-cell-1 {min-height: 431px; pointer-events: auto}
.u-section-3 .u-container-layout-1 {padding: 30px 60px}
.u-section-3 .u-text-1 {margin: 0}
.u-section-3 .u-text-2 {margin: 34px 0 0}
.u-section-3 .u-btn-1 {margin: 37px auto 0}
.u-section-3 .u-image-1 {min-height: 431px; pointer-events: auto; background-image: url("images/unknown.png"); background-position: 51.49% 27.25%; background-size: 120%}
.u-section-3 .u-container-layout-2 {padding: 30px 60px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 24px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 355px}
.u-section-3 .u-image-1 {min-height: 355px} }

@media (max-width: 991px){ .u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-image-1 {min-height: 272px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 260px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {min-height: 408px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 109px}
.u-section-3 .u-image-1 {min-height: 257px} }.disclaimer {
	font-size: 4px;
}
.image-round {
	border-width: 4px
}